Repository robsdedude/neo4j-rust-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

check:
  name: cargo check
  entry: cargo check --
  language: system
  pass_filenames: false

fmt:
  name: rustfmt fmt
  entry: rustfmt +nightly --
  language: system

clippy driver:
  name: cargo clippy (driver)
  entry: cargo clippy -p neo4j -- -D warnings
  language: system
  pass_filenames: false

clippy all:
  name: cargo clippy (all)
  entry: cargo clippy --all --all-features -- -D warnings
  language: system
  pass_filenames: false

unit:
  name: unit tests
  entry: cargo test --workspace --tests --benches --features _internal_public_api
  language: system
  pass_filenames: false

dependency type exports:
  name: check exported dependencies
  entry: bash -ec "cd neo4j; cargo +nightly-2024-06-30 check-external-types"
  language: system
  pass_filenames: false

docs:
  name: cargo doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc --workspace --no-deps
  language: system
  pass_filenames: false

CI: Fix TestKit artifacts
  .github/workflows/tests.yaml
Due: none

Fix Path type
  .pre-commit-config.yaml
  CHANGELOG.md
  doc_test_utils/src/lib.rs
  neo4j/src/driver/io/bolt/bolt4x4/translator.rs
  neo4j/src/driver/io/bolt/bolt5x0/translator.rs
  neo4j/src/driver/io/bolt/bolt_common.rs
  neo4j/src/test_data/public-api.txt
  neo4j/src/value/graph.rs
  testkit_backend/src/testkit_backend/cypher_value.rs
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

CI: fix result accumulation job
  .github/workflows/tests.yaml
Due: none

Bolt 5.6: GQL compliant notification/result statuses
  .github/workflows/tests.yaml
  CHANGELOG.md
  README.md
  neo4j/src/driver/config.rs
  neo4j/src/driver/config/notification.rs
  neo4j/src/driver/io/bolt.rs
  neo4j/src/driver/io/bolt/bolt5x2/protocol.rs
  neo4j/src/driver/io/bolt/bolt5x6.rs
  neo4j/src/driver/io/bolt/bolt5x6/protocol.rs
  neo4j/src/driver/io/bolt/bolt5x6/translator.rs
  neo4j/src/driver/io/bolt/bolt_common.rs
  neo4j/src/driver/io/bolt/handshake.rs
  neo4j/src/driver/io/bolt/response.rs
  neo4j/src/driver/record_stream.rs
  neo4j/src/driver/summary.rs
  neo4j/src/lib.rs
  neo4j/src/test_data/public-api.txt
  neo4j/src/value/value_receive.rs
  testkit_backend/src/testkit_backend/requests.rs
  testkit_backend/src/testkit_backend/responses.rs
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

CI: share TestKit build artifacts between jobs
  .github/workflows/tests.yaml
  testkit/Dockerfile
Due: none

CI: minor updates
  .github/workflows/tests.yaml
  testkit/Dockerfile
  testkit/backend.py
  testkit/build.py
Due: none

Fix `connection.recv_timeout_seconds` only for reads
  CHANGELOG.md
  neo4j/src/driver/io/bolt/bolt5x0/protocol.rs
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

Bolt 5.7: GQL compliant server errors
  .github/workflows/tests.yaml
  CHANGELOG.md
  README.md
  doc_test_utils/src/lib.rs
  neo4j/src/driver/config.rs
  neo4j/src/driver/io/bolt.rs
  neo4j/src/driver/io/bolt/bolt5x0/protocol.rs
  neo4j/src/driver/io/bolt/bolt5x7.rs
  neo4j/src/driver/io/bolt/bolt5x7/protocol.rs
  neo4j/src/driver/io/bolt/bolt5x7/translator.rs
  neo4j/src/driver/io/bolt/handshake.rs
  neo4j/src/driver/io/bolt/response.rs
  neo4j/src/driver/record_stream.rs
  neo4j/src/driver/session/retry.rs
  neo4j/src/driver/transaction.rs
  neo4j/src/error_.rs
  neo4j/src/lib.rs
  neo4j/src/test_data/public-api.txt
  neo4j/src/util.rs
  testkit_backend/Cargo.toml
  testkit_backend/src/testkit_backend.rs
  testkit_backend/src/testkit_backend/backend_id.rs
  testkit_backend/src/testkit_backend/driver_holder.rs
  testkit_backend/src/testkit_backend/errors.rs
  testkit_backend/src/testkit_backend/requests.rs
  testkit_backend/src/testkit_backend/resolver.rs
  testkit_backend/src/testkit_backend/responses.rs
  testkit_backend/src/testkit_backend/session_holder.rs
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

VarInt parsing
  neo4j/src/driver/io.rs
  neo4j/src/driver/io/varint.rs
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

VarInt write
  neo4j/src/driver/io/varint.rs
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

Simplify VarInt read
  neo4j/src/driver/io/varint.rs
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

Bolt version negotiation manifest v1
  README.md
  neo4j/src/driver/io/bolt/handshake.rs
  neo4j/src/driver/io/varint.rs
  neo4j/src/error_.rs
  testkit_backend/src/testkit_backend/responses.rs
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

More compact handshake logging
  neo4j/src/driver/io/bolt/handshake.rs
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

Debug bolt logs: remove superfluous spaces
  neo4j/src/driver/io/bolt/bolt5x0/protocol.rs
  neo4j/src/driver/io/bolt/bolt5x3/protocol.rs
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

Fix version ranges in server offerings being ignored
  neo4j/src/driver/io/bolt/handshake.rs
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

Tweak error messages and docs
  neo4j/src/driver/io/bolt/handshake.rs
  neo4j/src/error_.rs
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

Add changelog entry
  CHANGELOG.md
Due: none

Feat: Bolt 5.8 - home db cache & optimistic routing
  CHANGELOG.md
  neo4j/src/driver.rs
  neo4j/src/driver/config.rs
  neo4j/src/driver/home_db_cache.rs
  neo4j/src/driver/io/bolt.rs
  neo4j/src/driver/io/bolt/bolt4x4/protocol.rs
  neo4j/src/driver/io/bolt/bolt5x0/protocol.rs
  neo4j/src/driver/io/bolt/bolt5x1/protocol.rs
  neo4j/src/driver/io/bolt/bolt5x2/protocol.rs
  neo4j/src/driver/io/bolt/bolt5x4/protocol.rs
  neo4j/src/driver/io/bolt/bolt5x7/protocol.rs
  neo4j/src/driver/io/bolt/bolt5x8.rs
  neo4j/src/driver/io/bolt/bolt5x8/protocol.rs
  neo4j/src/driver/io/bolt/bolt5x8/translator.rs
  neo4j/src/driver/io/bolt/bolt_common.rs
  neo4j/src/driver/io/bolt/bolt_state.rs
  neo4j/src/driver/io/bolt/handshake.rs
  neo4j/src/driver/io/bolt/message_parameters.rs
  neo4j/src/driver/io/deadline.rs
  neo4j/src/driver/io/pool.rs
  neo4j/src/driver/io/pool/routing.rs
  neo4j/src/driver/io/pool/single_pool.rs
  neo4j/src/driver/io/pool/ssr_tracker.rs
  neo4j/src/driver/record_stream.rs
  neo4j/src/driver/session.rs
  neo4j/src/driver/transaction.rs
  neo4j/src/lib.rs
  neo4j/src/test_data/public-api.txt
  neo4j/src/value/value_send.rs
  testkit_backend/src/testkit_backend/requests.rs
  testkit_backend/src/testkit_backend/responses.rs
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

Add unit tests for the cache
  neo4j/src/driver/home_db_cache.rs
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

Also run clippy on test code
  .github/workflows/tests.yaml
  .pre-commit-config.yaml
  neo4j/src/driver/config.rs
  neo4j/src/driver/io/bolt/packstream/tests.rs
  neo4j/src/value/graph.rs
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

Run cargo check on tests and MSRV + stable
  .pre-commit-config.yaml
Due: none

Refactoring
  neo4j/src/driver/home_db_cache.rs
  neo4j/src/driver/io/bolt.rs
  neo4j/src/driver/io/bolt/bolt5x0/protocol.rs
  neo4j/src/driver/io/bolt/bolt5x2/protocol.rs
  neo4j/src/driver/io/bolt/message_parameters.rs
  neo4j/src/driver/io/pool.rs
  neo4j/src/driver/session.rs
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

Add skip for new test
  testkit_backend/src/testkit_backend/responses.rs
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

Update feature checklist
  README.md
Due: none

Chore: refactoring to not reinvent the wheel—or Cow as it were
  neo4j/src/driver/io/bolt/bolt_handler/hello_5x0.rs
  neo4j/src/driver/io/pool/single_pool.rs
  neo4j/src/util.rs
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

Extend README: add example & compatibility
  README.md
Due: none

v0.2.0
  CHANGELOG.md
  neo4j/Cargo.toml
Due: dependency type exports

README: minor formatting fix
  README.md
Due: none

Chore: bump dependencies
  .github/Cargo.lock
  CHANGELOG.md
  neo4j/Cargo.toml
  neo4j/src/driver/config.rs
  neo4j/src/driver/session/retry.rs
  testkit_backend/Cargo.toml
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

Reduce network latency in some cases by setting TCP_NODELAY
  CHANGELOG.md
  neo4j/src/driver/io/bolt/handshake.rs
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

fix clippy warning: "result_large_err"
  CHANGELOG.md
  neo4j/src/driver/io/bolt/response.rs
  neo4j/src/driver/record_stream.rs
  neo4j/src/driver/transaction.rs
  neo4j/src/error_.rs
  neo4j/src/test_data/public-api.txt
  testkit_backend/src/testkit_backend/errors.rs
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

Fix clippy warning: "unneeded_struct_pattern"
  testkit_backend/src/testkit_backend/session_holder.rs
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

Avoid unnecessary memory allocation on driver::io::bolt::handshake
  neo4j/src/driver/io/bolt/handshake.rs
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

Fix more clippy lints
  doc_test_utils/src/lib.rs
  neo4j/build.rs
  neo4j/src/driver/config.rs
  neo4j/src/driver/home_db_cache.rs
  neo4j/src/driver/io/bolt.rs
  neo4j/src/driver/io/bolt/bolt_handler/hello_5x0.rs
  neo4j/src/driver/io/bolt/bolt_handler/run_5x0.rs
  neo4j/src/driver/io/bolt/bolt_state.rs
  neo4j/src/driver/io/bolt/chunk.rs
  neo4j/src/driver/io/bolt/handshake.rs
  neo4j/src/driver/io/bolt/message.rs
  neo4j/src/driver/io/bolt/packstream/error.rs
  neo4j/src/driver/io/bolt/packstream/serialize.rs
  neo4j/src/driver/io/bolt/packstream/tests.rs
  neo4j/src/driver/io/pool.rs
  neo4j/src/driver/io/pool/single_pool.rs
  neo4j/src/driver/record_stream.rs
  neo4j/src/driver/summary.rs
  neo4j/src/error_.rs
  neo4j/src/macros.rs
  testkit_backend/Cargo.toml
  testkit_backend/src/testkit_backend.rs
  testkit_backend/src/testkit_backend/auth.rs
  testkit_backend/src/testkit_backend/backend_id.rs
  testkit_backend/src/testkit_backend/bookmarks.rs
  testkit_backend/src/testkit_backend/cypher_value.rs
  testkit_backend/src/testkit_backend/driver_holder.rs
  testkit_backend/src/testkit_backend/errors.rs
  testkit_backend/src/testkit_backend/requests.rs
  testkit_backend/src/testkit_backend/resolver.rs
  testkit_backend/src/testkit_backend/session_holder.rs
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

fixup! Fix more clippy lints
  neo4j/src/address_/resolution.rs
  neo4j/src/driver/io/bolt/bolt_handler/hello_4x4.rs
  neo4j/src/driver/io/bolt/bolt_handler/hello_5x0.rs
  neo4j/src/driver/io/bolt/bolt_handler/hello_5x4.rs
  neo4j/src/driver/io/bolt/bolt_handler/hello_5x8.rs
  neo4j/src/driver/io/bolt/chunk.rs
  neo4j/src/driver/io/deadline.rs
  neo4j/src/driver/io/pool.rs
  neo4j/src/driver/io/pool/routing.rs
  neo4j/src/driver/io/pool/single_pool.rs
  neo4j/src/driver/session.rs
  neo4j/src/error_.rs
  testkit_backend/src/testkit_backend.rs
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

Match MSRV in test helper crate
  doc_test_utils/Cargo.toml
Due: dependency type exports

Fix temporary connection timeout merging read & write timeouts
  .pre-commit-config.yaml
  CHANGELOG.md
  neo4j/src/driver/io/deadline.rs
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

Path conditions:
  check: any of: \.rs$
  fmt: any of: \.rs$
  clippy driver: any of: \.rs$
  clippy all: any of: \.rs$
  unit: any of: \.rs$
  dependency type exports: any of: \.rs$, \.toml$
  docs: any of: \.rs$
