Repository robsdedude/neo4j-rust-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: check
        name: cargo check
        entry: cargo check --
        language: system
        types: [rust]
        pass_filenames: false
      - id: fmt
        name: rustfmt fmt
        entry: rustfmt +nightly --
        language: system
        types: [rust]
      - id: clippy driver
        name: cargo clipcpy (driver)
        entry: cargo clippy --tests -p neo4j -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
      - id: clippy all
        name: cargo clippy (all)
        entry: cargo clippy --all --all-features --tests -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
      - id: unit
        name: unit tests
        entry: cargo +stable test --workspace --tests --benches --features _internal_public_api
        language: system
        types: [rust]
        pass_filenames: false
      - id: dependency type exports
        name: check exported dependencies
        entry: bash -ec "cd neo4j; cargo +nightly-2024-06-30 check-external-types"
        language: system
        types_or: [rust, toml]
        pass_filenames: false
      - id: docs
        name: cargo doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc --workspace --no-deps
        language: system
        types: [rust]
        pass_filenames: false

Delete .github/bu-cargo.lock
  .github/bu-cargo.lock
Due: none

iter
  testkit_backend/src/testkit_backend/responses.rs
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

doc
  neo4j/src/test_data/public-api.txt
  neo4j/src/value/unsupported_type.rs
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

Feat: Add Unsupported type for bolt 6 (#47)
  neo4j/src/driver/io/bolt/bolt6x0/translator.rs
  neo4j/src/driver/io/bolt/bolt_common.rs
  neo4j/src/test_data/public-api.txt
  neo4j/src/value.rs
  neo4j/src/value/unsupported_type.rs
  neo4j/src/value/value_receive.rs
  neo4j/src/value/value_send.rs
  testkit_backend/src/testkit_backend/cypher_value.rs
  testkit_backend/src/testkit_backend/responses.rs
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

Minor docs improvements
  CHANGELOG.md
  neo4j/src/driver/session/bookmarks.rs
  neo4j/src/lib.rs
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

fixup! Bump dependencies & MSRV to 1.88
  .github/workflows/tests.yaml
Due: none

Fix error `during_commit` tracking in auto-commit transactions
  CHANGELOG.md
  neo4j/src/driver/record_stream.rs
  neo4j/src/driver/session/retry.rs
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

fixup! Bump dependencies & MSRV to 1.88
  .github/workflows/tests.yaml
  .gitignore
Due: none

fixup! Fix error `during_commit` tracking in auto-commit transactions
  CHANGELOG.md
Due: none

Fix error `during_commit` tracking in auto-commit transactions (#49)
  CHANGELOG.md
  neo4j/src/driver/record_stream.rs
  neo4j/src/driver/session/retry.rs
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

Update README and docs
  README.md
  neo4j/src/lib.rs
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

Rename `check-msrv-all-features` (stable) to `check-all-features` in pre-commit config (#50)
  .pre-commit-config.yaml
Due: none

summary::Profile: expose existence for all metrics
  CHANGELOG.md
  neo4j/src/driver/summary.rs
  neo4j/src/test_data/public-api.txt
  testkit_backend/src/testkit_backend/responses.rs
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

Bump cargo resolver to 3
  Cargo.toml
Due: dependency type exports

Bump cargo resolver to 3 (#52)
  Cargo.toml
Due: dependency type exports

Bump TestKit
  .github/workflows/tests.yaml
  .testkit_version
  testkit_backend/src/testkit_backend/responses.rs
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

TestKit backend: respect env var RUST_LOG to configure logging level
  testkit_backend/src/logging.rs
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

Improve logging
  neo4j/src/driver/io/bolt.rs
  neo4j/src/time.rs
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

TestKit: Fix socket timeout under mocked time
  neo4j/src/driver/io/deadline.rs
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

Bump TestKit (#53)
  .github/workflows/tests.yaml
  .testkit_version
  neo4j/src/driver/io/bolt.rs
  neo4j/src/driver/io/deadline.rs
  neo4j/src/time.rs
  testkit_backend/src/logging.rs
  testkit_backend/src/testkit_backend/responses.rs
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

CI: enable manually triggering test CI
  .github/workflows/tests.yaml
Due: none

Derive more traits on more simple, public types
  CHANGELOG.md
  neo4j/src/driver.rs
  neo4j/src/driver/config/notification.rs
  neo4j/src/driver/summary.rs
  neo4j/src/error_.rs
  neo4j/src/test_data/public-api.txt
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

Refine handling of cluster network partitioning
  neo4j/src/driver.rs
  neo4j/src/driver/io/pool.rs
  neo4j/src/test_data/public-api.txt
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

CI: enable manually triggering test CI (#51)
  .github/workflows/tests.yaml
Due: none

CI: fix input description
  .github/workflows/tests.yaml
Due: none

Refine handling of cluster network partitioning (#55)
  neo4j/src/driver.rs
  neo4j/src/driver/io/pool.rs
  neo4j/src/test_data/public-api.txt
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs

Derive more traits on more simple, public types (#54)
  CHANGELOG.md
  neo4j/src/driver.rs
  neo4j/src/driver/config/notification.rs
  neo4j/src/driver/summary.rs
  neo4j/src/error_.rs
  neo4j/src/test_data/public-api.txt
Due: check, fmt, clippy driver, clippy all, unit, dependency type exports, docs
